<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TO-DO Manager</title>
  <script src="/public/js/script.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="grid pt-28 grid-cols-6">
    <div class="col-start-3 col-span-2">
      <%- include("header.ejs") %>
        <form action="/todos" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="flex gap-2 mt-5">
            <div class="flex-auto">
              <input type="text" placeholder="Task Title" class="border border-gray-500 rounded-xl text-gray-900 w-full p-2 text-sm" required/>
            </div>
            <div class="flex-auto">
              <input type="date" class="border border-gray-500 rounded-xl text-gray-900 w-full p-2 text-sm leading-4" />
            </div>
            <div class="flex-none">
              <button type="submit" class="bg-green-700 text-white px-5 py-1.5 rounded-xl font-medium mr-2 mb-2">Add </button>
            </div>
          </div>
        </form>
        <%- include('todos.ejs', {overdue, dueToday, dueLater, csrfToken, completed}) %>
        <%- include("footer.ejs") %>
    </div>
  </div>
</body>

</html>